# generated
/message/*.ts

# downloaded
/downloads
/Fishbones_Data

# dependencies
node_modules
/node_modules_win_npm
/node_modules_linux_bun
/node_modules_linux_npm
/node_modules_linux_deno
/node_modules_bak

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
